.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  padding-top: 40px;
  font-family: Dancing Script;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: blue;
}
