.controls {
  margin-top: 35px;
  text-align: center;
}
.button {
  border-radius: 10px;
  min-width: 80px;
  padding: 5px 15px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background: #f0f0f0;
  border-radius: 10px;
  border: 0;

  transition-property: background-color, color, box-shadow, transform;
  transition-duration: 250ms;
  &:hover {
    transform: scale(1.1);
    background-color: violet;
    color: #ffffff;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-right: 60px;
  }
}
